.page.theme_dark {
  --main-color: #f1b2ce;
  --hover-color: rgba(255, 0, 112, 0.4);
  --additional-color-text: #ff0070;
  --additional-color-background: #FF0070;
  --header-title-color: #db00ff;
  --title-color: #000028;
  --page-background-color: #000028;
  --page-background-image: url(../images/cover-image-dark.png);
}
