/* Глобальные стили для проекта, их можно дополнять и менять по желанию */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'IBM Plex mono';
  font-weight: normal;
  font-size: 18px;
  color: var(--main-color);
  min-inline-size: 375px;
  max-inline-size: 1440px;
  margin: 0 auto;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

picture {
  margin: 0;
  padding: 0;
}

button,
a {
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

h3 {
  font-size: 18px;
  line-height: 23.4px;
  font-weight: 700;
}