.page.theme_light {
  --main-color: #353430;
  --hover-color: rgba(50, 49, 45, 0.40);
  --additional-color-text: #353430;
  --additional-color-background: #FF8DCB;
  --header-title-color: #FFC2E6;
  --title-color: #353430;
  --page-background-color: #FFF1F7;
  --page-background-image: url(../images/cover-image-light.png);
}

.page.theme_light .header__decoration {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --main-color: #353430;
    --hover-color: rgba(50, 49, 45, 0.40);
    --additional-color-text: #353430;
    --additional-color-background: #FF8DCB;
    --header-title-color: #FFC2E6;
    --title-color: #353430;
    --page-background-color: #FFF1F7;
    --page-background-image: url(../images/cover-image-light.png);
  }
}
